@font-face{
    font-family: GothicBold;
    src: url('External/fonts/Gotham-Black.otf') format("opentype");
}
@font-face{
    font-family: GothicMedium;
    src: url('External/fonts/GothamMedium.ttf') format("opentype"); 
}
body { 
    margin:0; /* This is used to reset any browser-default margins */ 
    max-width:2200px;
    min-height:680px;
}
main{
    padding:5px;
}
a {
    color: #fff;
    display:block;
}
a:hover {
    color: #e75525;
    text-decoration: none;
}
.boldfont{
    font-family: 'GothicBold',arial, helvetica, sans-serif;
}
.normalfont{
    font-family: 'GothicMedium',arial, helvetica, sans-serif;
}
.justify-center{
   text-align:center;
   margin:0 auto !important;
}
.wrapper
{
    display:flex;
    justify-content: center;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    align-items:center;
    text-align:left;
    justify-content:center;
}
.flex-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    height:130px;
}
.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    align-items: flex-start;
    height:130px;
}
 .space-evenly { 
    justify-content: space-evenly; 
  }
  .space-evenly li {
    background: #bada55; 
  }
  .flex-item {
    background:#fff;
    margin: 5px;
    line-height: 15px;
    min-width:175px;
    max-width:100%;
  }
  .social-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items:left;
    text-align:left;
    justify-content:left;
    width:60%;
}
  .social-item {
    background:#fff;
    margin: 5px;
    padding:10px;
    line-height: 15px;
  }
  .flex1 { 
      flex: 1 1 2%; 
      text-align:left;
    }
  .flex2 {
    flex: 2 2 20em;
    text-align:right;
  }
  .flex3 {
    flex: 3 3 20em;
    text-align:right;
  }
  .flex3 {
    flex: 5 5 20em;
    text-align:right;
  }
  .gridwrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
    background-color: #fff;
    color: #444;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}
.footercol {
    grid-column: 1 / 6;
    grid-row: 1;
}

.footerHeading{
    color: #e75525;
    text-decoration: none;
    font-size: 16px;
    font-weight:bold;
    text-transform: uppercase;
   }
  .footerText{
    color:#202020;
    font-size: 15px;
    text-align:left;
   }
  .socialHeading{
    color:#202020;
    font-size: 16px;
    font-weight:bold;
    text-transform:uppercase;
  }
  .socialText{
    color:#808080;
    font-size: 12px;
  }
  .footerLink {
    /* color:#646464; */
    color: #a0a0a0;
}
.footerText .footerLink a:hover {
    color: #e75525;
}
.socialText .footerLink a:hover {
    color: #e75525;
}
.social{
    color:blue;
}
.social:hover {
    color: #e75525;
}
hr {
    height:1px;
}



